<p class="text-center text-muted">&copy; This should rendered in the bottom of the page</p>
<script src="https://cdn.dataforsyningen.dk/dawa/assets/dawa-autocomplete2/1.0.2/dawa-autocomplete2.min.js"></script>
<script>
    dawaAutocomplete.dawaAutocomplete(document.getElementById('dawa-autocomplete-input'), {
        select: function (selected) {
            console.log('Valgt adresse: ' + selected.tekst);
        }
    });
</script>